In [2]:
import pandas as pd
import numpy as np

In [7]:
data = np.array(['a','b','c','d'])
s1 = pd.Series(data)
print(s1)
data = np.array([1,2,3,4])
s2 = pd.Series(data)
print(s2)

0    a
1    b
2    c
3    d
dtype: object
0    1
1    2
2    3
3    4
dtype: int32

<mark> Answer </mark>  
s1 is type object  
s2 is type integer

In [9]:
data = np.array([1,'b',3,'d'])
s3 = pd.Series(data)
print(s3)

0    1
1    b
2    3
3    d
dtype: object

<mark> Answer </mark>  
type is object.

In [10]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [14]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[0:3])

a    1
b    2
c    3
dtype: int64

In [15]:
s[['a']]

a    1
dtype: int64

In [16]:
#retrieve multiple elements
print(s[['a','b','c']])

a    1
b    2
c    3
dtype: int64

In [17]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
data = [1,2,3,4,5]
df1 = pd.DataFrame(data)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [19]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df2 = pd.DataFrame(data,columns=['Name','Age'])
print(df2)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [20]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [77]:
d = {'Math' : pd.Series([90,10,34,23,43]),
'C_programming' : pd.Series([70,20,25,32,73]),
'Java' : pd.Series([50,41,67,34,23]),
'Web_programming' : pd.Series([55,66,23,76,67])}
df = pd.DataFrame(d)
print(df)

   Math  C_programming  Java  Web_programming
0    90             70    50               55
1    10             20    41               66
2    34             25    67               23
3    23             32    34               76
4    43             73    23               67

In [23]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [52]:
df3 = pd.DataFrame([[59,37,84,82]], columns = ['Math','C_programming','Java','Web_programming'], index =[5])
df4 = pd.DataFrame([[41,34,73,55]], columns = ['Math','C_programming','Java','Web_programming'], index =[6])
df = df.append(df3)
df = df.append(df4)
df

   Math  C_programming  Java  Web_programming
1    10             20    41               66
2    34             25    67               23
3    23             32    34               76
4    43             73    23               67
5    59             37    84               82
6    41             34    73               55

In [46]:
df = df.drop(0)
print(df)

   Math  C_programming  Java  Web_programming
1    10             20    41               66
2    34             25    67               23
3    23             32    34               76
4    43             73    23               67
5    59             37    84               82
6    41             34    73               55

In [53]:
df = df.drop(5)
df = df.drop(6)
df

   Math  C_programming  Java  Web_programming
1    10             20    41               66
2    34             25    67               23
3    23             32    34               76
4    43             73    23               67

In [61]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df.sum()

Name    TomJackSteveRicky
Age                   133
dtype: object

In [62]:
print(df.sum(axis=1))

0    28
1    34
2    29
3    42
dtype: int64

In [64]:
df.count()

Name    4
Age     4
dtype: int64

In [65]:
df.sum()

Name    TomJackSteveRicky
Age                   133
dtype: object

In [66]:
df.mean()

Age    33.25
dtype: float64

In [67]:
df.median()

Age    31.5
dtype: float64

In [68]:
df.mode()

    Name  Age
0   Jack   28
1  Ricky   29
2  Steve   34
3    Tom   42

In [69]:
df.std()

Age    6.396614
dtype: float64

In [70]:
df.min()

Name    Jack
Age       28
dtype: object

In [71]:
df.max()

Name    Tom
Age      42
dtype: object

In [72]:
df.abs()

TypeError: bad operand type for abs(): 'str'

In [73]:
df.prod()

Age    1159536
dtype: int64

In [74]:
df.cumsum()

                Name  Age
0                Tom   28
1            TomJack   62
2       TomJackSteve   91
3  TomJackSteveRicky  133

In [75]:
df.cumprod()

TypeError: can't multiply sequence by non-int of type 'str'

In [76]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series
([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
df = pd.DataFrame(d)
df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [80]:
ddf = pd.DataFrame(data=df,copy=True)
ddf.describe()

            Math  C_programming       Java  Web_programming
count   5.000000        5.00000   5.000000         5.000000
mean   40.000000       44.00000  43.000000        57.400000
std    30.553232       25.48529  16.658331        20.622803
min    10.000000       20.00000  23.000000        23.000000
25%    23.000000       25.00000  34.000000        55.000000
50%    34.000000       32.00000  41.000000        66.000000
75%    43.000000       70.00000  50.000000        67.000000
max    90.000000       73.00000  67.000000        76.000000

1. 40.0
2. 50.0
3. 20.622803

In [83]:
studentDF = ddf.reindex([0,1,2,3,4,5,6,7])
print(studentDF)

   Math  C_programming  Java  Web_programming
0  90.0           70.0  50.0             55.0
1  10.0           20.0  41.0             66.0
2  34.0           25.0  67.0             23.0
3  23.0           32.0  34.0             76.0
4  43.0           73.0  23.0             67.0
5   NaN            NaN   NaN              NaN
6   NaN            NaN   NaN              NaN
7   NaN            NaN   NaN              NaN

In [85]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a','c','e','f','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df['one'].isnull())
print(df['two'].notnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: two, dtype: bool

In [86]:
s1 = studentDF
s2 = studentDF
s1 = s1.fillna(0)
s2 = s2.fillna(method='pad')
print(s1)
print(s2)

   Math  C_programming  Java  Web_programming
0  90.0           70.0  50.0             55.0
1  10.0           20.0  41.0             66.0
2  34.0           25.0  67.0             23.0
3  23.0           32.0  34.0             76.0
4  43.0           73.0  23.0             67.0
5   0.0            0.0   0.0              0.0
6   0.0            0.0   0.0              0.0
7   0.0            0.0   0.0              0.0
   Math  C_programming  Java  Web_programming
0  90.0           70.0  50.0             55.0
1  10.0           20.0  41.0             66.0
2  34.0           25.0  67.0             23.0
3  23.0           32.0  34.0             76.0
4  43.0           73.0  23.0             67.0
5  43.0           73.0  23.0             67.0
6  43.0           73.0  23.0             67.0
7  43.0           73.0  23.0             67.0

s1 is fill nan with 0  
s2 is fill nan by pad(last valid)

In [88]:
left = pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
{'id':[1,2,3,4,5],
'subject_name':['Math','English',
'Social Science','Programming','Physics']})
print(left)
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id    subject_name
0   1            Math
1   2         English
2   3  Social Science
3   4     Programming
4   5         Physics

In [90]:
merged_table = pd.merge(left,right,on='id')
merged_table

   id    Name subject_id    subject_name
0   1    Alex       sub1            Math
1   2     Amy       sub2         English
2   3   Allen       sub4  Social Science
3   4   Alice       sub6     Programming
4   5  Ayoung       sub5         Physics

In [91]:
left = pd.DataFrame({'id':[0,1,2,3,4,5],
                     'section': ['one', 'one', 'one', 'two', 'two','two']})
right = pd.DataFrame({'id':[0,1,2,3,4,5],
                      'name':['Mat','Mike','John','Peecha','Prabu','Bunchu'],
                     'math':[34,12,34,12,65,23],
                     'english':[23,13,51,62,12,42]})
score = pd.merge(left,right,on='id')
print(score)

   id section    name  math  english
0   0     one     Mat    34       23
1   1     one    Mike    12       13
2   2     one    John    34       51
3   3     two  Peecha    12       62
4   4     two   Prabu    65       12
5   5     two  Bunchu    23       42

In [92]:
score_sec = score.groupby('section')
score_sec.sum()

         id  math  english
section
one       3    80       87
two      12   100      116